body {
  width: 100vw;
  margin: 0;
}


.container {
height: 100%;
width:100%;
display: grid;
background-color: #8d939b;

}

.aroundHeader {
  margin-bottom: 1em;

  width: 100%;
  height: 209.41px;
}

.header {
padding: 1em;
background-color: #f6235a;
width: 100%;
position: fixed;
}

h1 {
  font-size: 7vw;
  font-family:'Roboto', sans-serif;;
  color: #36416a;
  width: 100%;
}

.wrapper {
display: grid;
grid-template-columns: 50vw;
grid-gap: 1em;
justify-content: center;
}

.post {
display: grid;
border-style: thin;
border-color: #8d939b;
background-color: #e9e7e7;
padding: 1em;
margin: 1em;
height: 30vh;
width: 50vw;
}

.title {
font-size: 5vh;
font-family: 'Lora', serif;
color: #8f8984;

}

.author {
font-size: 3vh;
color: #36416a;
font-family: 'Lora', serif;
}

.date {
font-size: 2.5vh;
color: #36416a;
font-family: 'Lora', serif;
}

.content {
font-size: 16px;
font-family: 'Lora', serif;
margin-top: 1em;
margin-bottom: 1em;
color: #36416a;
}

.likes.button {
display: grid;
justify-content:flex-end;


}

.likes {
  font-size: 12px;
  font-family:'Lora', serif;
}

.btn.btn-default {
  height: 35px;
  width: 55px;
  border-radius: 5px;
  padding-bottom: 5px;
  background-color: #8f8984;
}

.fa {
  display: inline-block;
}

.fa-2x {
  font-size: 2em;
}
